.search-list {
	padding: var(--main-padding) 0;
	position: absolute;
	background-color: white;
	border-radius: 0px 0px 8px 8px;
	width: 343px;
	height: 213px;
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 0;
	}
	&__item {
		display: grid;
		grid-template-columns: 40px auto;
		grid-template-rows: 20px 20px;
		column-gap: 8px;
		justify-items: start;
		align-content: center;
		height: 48px;
		padding: 0 var(--main-padding);
		cursor: pointer;
		&:hover {
			background-color: #f2f2f2;
		}
		& + & {
			margin-top: 8px;
		}
	}
	&__user {
		width: 40px;
		height: 40px;
		border: 1px solid #e5e5e6;
		border-radius: 1000px;
		grid-column: 1;
		grid-row: 1/3;
	}
	&__name {
		font-size: 14px;
		line-height: 19px;
		grid-column: 2;
	}
	&__nickname {
		color: var(--font-color-grey);
		font-size: 12px;
		line-height: 16px;
		grid-column: 2;
	}
}
