doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/style.css")
    body
        .container
            .search
                .search-form
                    label(for="search") 
                    input(type="text" id="search" placeholder="Search")
                .search-content
                    .search-loading
                        img(src="./img/loading.png", alt="").search-loading
                    ul.search-list
                        li.search-list__item 
                            img(src="./img/user1.png", alt="").search-list__user
                            span.search-list__name Haily Myers
                            span.search-list__nickname @hailymyers
                        li.search-list__item 
                            img(src="./img/user1.png", alt="").search-list__user
                            span.search-list__name Haily Myers
                            span.search-list__nickname @hailymyers
                        li.search-list__item 
                            img(src="./img/user1.png", alt="").search-list__user
                            span.search-list__name Haily Myers
                            span.search-list__nickname @hailymyers
                        li.search-list__item 
                            img(src="./img/user1.png", alt="").search-list__user
                            span.search-list__name Haily Myers
                            span.search-list__nickname @hailymyers
                        li.search-list__item 
                            img(src="./img/user1.png", alt="").search-list__user
                            span.search-list__name Haily Myers
                            span.search-list__nickname @hailymyers
                        li.search-list__item 
                            img(src="./img/user1.png", alt="").search-list__user
                            span.search-list__name Haily Myers
                            span.search-list__nickname @hailymyers
                        li.search-list__item 
                            img(src="./img/user1.png", alt="").search-list__user
                            span.search-list__name Haily Myers
                            span.search-list__nickname @hailymyers
                        li.search-list__item 
                            img(src="./img/user1.png", alt="").search-list__user
                            span.search-list__name Haily Myers
                            span.search-list__nickname @hailymyers